<div class="card">
  <div class="card-header">
    Authentification
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs nav-fill" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          data-toggle="tab"
          href="#connexion"
          aria-controls="connexion"
          aria-selected="true"
          (click)="onCancelSignup()"
          >Connexion</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="tab"
          href="#inscription"
          aria-controls="inscription"
          aria-selected="false"
          (click)="onCancelLogin()"
          >Inscription</a
        >
      </li>
    </ul>
    <div class="tab-content pt-4" id="myTabContent">
      <!-- Login Form -->
      <div class="tab-pane fade show active" id="connexion">
        <!-- name="" is use for controls -->
        <!-- Use ngForm to return a javascript object for working with datas -->
        <!-- Use #emailLogin="ngModel" for each input validation -->
        <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
          <div class="form-group">
            <label for="loginEmail">Email</label>
            <input
              type="email"
              class="form-control"
              id="loginEmail"
              ngModel
              name="loginEmail"
              pattern="^((?!\.)[\w-_.]*[^.])(@\w+)(\.\w{1,3})$"
              #emailLogin="ngModel"
              required
            />
            <small
              class="form-text text-muted"
              *ngIf="!emailLogin.untouched && !emailLogin.dirty"
              >Veuillez entrer votre adresse email</small
            >
            <small
              class="form-text text-muted"
              *ngIf="
                (!emailLogin.untouched &&
                  emailLogin.invalid &&
                  emailLogin.dirty) ||
                (emailLogin.invalid && emailLogin.dirty)
              "
              >Veuillez entrer une adresse email valide !</small
            >
          </div>

          <div class="form-group">
            <label for="loginPassword">Mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="loginPassword"
              ngModel
              name="loginPassword"
              #passwordLogin="ngModel"
              required
            />
            <small
              class="form-text text-muted"
              *ngIf="!passwordLogin.untouched && passwordLogin.invalid"
              >Veuillez entrer votre mot de passe</small
            >
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="!loginOk">
            <small>{{ loginErrorMessage }}</small>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="loginForm.invalid"
          >
            Connexion
          </button>
          &nbsp;
          <button type="button" class="btn btn-light" (click)="onCancelLogin()">
            Annuler
          </button>
        </form>
      </div>

      <!-- SignUp Form -->
      <div class="tab-pane fade" id="inscription">
        <form (ngSubmit)="onSubmitSignup()" #signupForm="ngForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="signUpName">Nom</label>
              <input
                type="text"
                class="form-control"
                id="signUpName"
                placeholder="Doe"
                name="userFirstname"
                ngModel
                #userFirstname="ngModel"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="signUpLastname">Prénom</label>
              <input
                type="text"
                class="form-control"
                id="signUpLastname"
                placeholder="John"
                name="userLastname"
                ngModel
                #userLastname="ngModel"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label for="type">Proprietaire ou Locataire ?</label>
            <select
              class="form-control form-control-sm"
              id="type"
              name="userRole"
              ngModel
              required
            >
              <option value="" disabled selected>Select your option</option>
              <option value="tenant">Locataire</option>
              <option value="owner">Propriétaire</option>
            </select>
          </div>
          <div class="form-group">
            <label for="signUpEmail">Email</label>
            <input
              type="email"
              class="form-control"
              id="signUpEmail"
              placeholder="johnDoe125@outlook.fr"
              name="userEmail"
              pattern="^((?!\.)[\w-_.]*[^.])(@\w+)(\.\w{1,3})$"
              ngModel
              #userEmail="ngModel"
              required
            />
            <small
              class="form-text text-muted"
              *ngIf="userEmail.invalid && userEmail.dirty"
              >Entrez une adresse email valide</small
            >
          </div>
          <div class="form-group">
            <label for="signUpPassword">Mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="signUpPassword"
              name="userPassword"
              ngModel
              #userPassword="ngModel"
              minlength="6"
              required
            />
            <small
              class="form-text text-muted"
              *ngIf="userPassword.invalid && userPassword.dirty"
              >Le mot de passe doit contenir au moins 6 caractères</small
            >
          </div>
          <div class="form-group">
            <label for="signUpConfirmPassword">Confirmer le mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="signUpConfirmPassword"
              name="userPasswordConfirm"
              ngModel
              #userPasswordConfirm="ngModel"
              minlength="6"
              required
            />
            <small
              class="form-text text-muted"
              *ngIf="userPasswordConfirm.invalid && userPasswordConfirm.dirty"
              >Le mot de passe doit contenir au moins 6 caractères</small
            >
          </div>
          <div
            class="alert alert-warning alert-dismissible fade show"
            role="alert"
            *ngIf="errorPassword"
          >
            Veuillez entrer des mots de passe identiques
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <!-- Alert succes signup-->
          <div class="alert alert-success" role="alert" *ngIf="signupOK">
            <h4 class="alert-heading">Felicitations!</h4>
            <p>Vous êtes inscrit sur la plateforme ! 🎉</p>
            <hr />
            <small class="mb-0">
              Veuillez consulter votre boite mail pour vérifier votre compte
            </small>
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!signupForm.valid"
          >
            Inscription
          </button>
          &nbsp;
          <button
            type="button"
            class="btn btn-light"
            (click)="onCancelSignup()"
          >
            Annuler
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
